.back{
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 15px;
    padding: 0 25px;
    outline: none;
}
html, body{
    min-height: 100%;
    margin: 0;
    border: 3px solid plum;
}